*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.calc{
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    font-size: 0;
}
.text-input{
   width: 350px;
    height: 70px;
    font-size: 30px;
    border: none;
    border-radius: 3px 3px 0px 0px;
    text-align: right;
    padding: 0 5px;
    letter-spacing: 2px;
}
.btn{
    width:87.5px;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    background-color: #202226;
    color: white;
}
.btn:hover{
    background-color: #E0C3FC;
}
.btn-calc{
    background-color: #8EC5FC;
}
.btn-total{
    background-color: goldenrod;
}